<p>Hi!</p>
<br/>
<p><%=Name%> <%=SecondName%> invites you to: <br />
    <%=EventTitle%><br />
    <%=EventLocation%><br />
    <%=EventDate%><br />
<p>
    RSVP to “User First Name” in vlife - the world’s 1st Calendar-Chat app.
    Plan events and meaningfully interact with your friends, family, and colleagues
    - while getting insights into your work life balance. Completely Private.
    3 months Free. No Strings. Click here on your mobile phone to find out more.
    Enjoy
    vlife
</p>

<p>Enjoy <br>vlife</p>
